body{
  font-family: sans-serif;
}

.theme-switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: blue;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.navbar-logo-title{
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-react-logo-pic{
  width: 80px;
}

.navbar-title{
  color: rgb(8, 193, 245);
  font-size: 3rem;
}